* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-size: 30px;
  overflow-x: hidden;
  color: rgb(229, 34, 34);
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(158, 77, 77);
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/blackboard.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.box1 {
  height: 2rem;
  width: 25rem;
  background-color: rgb(209, 209, 209);
  padding: 10px;
}
.box2 {
  height: 2rem;
  width: 25rem;
  background-color: rgb(209, 209, 209);
  padding: 10px;
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border: 1px solid red;
  border-radius: 20px;
  background-color: white;
}

.submit {
  margin-top: 10px;
  width: 85px;
  padding: 10px;
  margin-left: 50px;
}
.submit:hover {
  background-color: pink;
  color: black;
}

nav {
  background-color: orange;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-links {
  padding-right: 30px;
  font-size: 20px;
  border-radius: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px;
}
a:hover {
  background-color: black;
  color: pink;
}
